script.
	if ("serviceWorker" in navigator) {
		window.addEventListener("load", () => {
			navigator.serviceWorker.register("/service-worker.js")
				.then((registration) => {
					return registration.update();
				})
		});
		navigator.serviceWorker.addEventListener("message", (event) => {
			if (!localStorage.getItem("caches")) {
				localStorage.setItem("caches", JSON.stringify([event.data.url]));
			} else {
				const cachesArray = JSON.parse(localStorage.getItem("caches"));
				if (cachesArray.indexOf(event.data.url) === -1) {
					cachesArray.push(event.data.url);
					localStorage.setItem("caches", JSON.stringify(cachesArray));
				}
			}
		})
	}