html(lang="nl")
	head
		meta(charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		link(rel="stylesheet" href="styles/main.css")
		link(rel="icon" type="image/png" href="assets/favicon.png")
	body
		p Je bent offline! wajoo