main {
	background: linear-gradient(to bottom, rgba(22,119,210,0.8), rgba(107,165,228,0.8));
	background-size: 100vw 63vh,;
	height: 100vh;
	padding-top: 50px;
}

@media screen and (max-width: 877px) {
	main {
		background-size: 173vh;
	}
}

.bgMountain {
	position: absolute;
	bottom: -28%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

/* https://stackoverflow.com/questions/18912476/css-animation-across-an-arc */
@keyframes drawArc1 {
    0% {
    	transform: rotate(0);
    }
    100% {
    	transform: rotate(90deg);
    }
}

@keyframes drawArc2 {
    0% {
    	transform: rotate(0);
    }
    100% {
    	transform: rotate(-90deg);
    }
}

.wrapper {
	z-index: 0;
	position: absolute;
	top: 50%;
	width: 100vw;
	animation: drawArc1 10s linear forwards;
}

.sunOrMoon {
	display: inline-block;
	animation: drawArc2 10s linear forwards;
}

#sky {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.snowflake {
	display: inline-block;
	width: 4px;
	height: 4px;
	background: white;
	border-radius: 100%;
	animation: fallDown 5s;
}

@keyframes fallDown {
	100% {
		transform: translateY(100vh);
	}
}

/*https://codepen.io/aureliendotpro/pen/hAxGg */

.drop {
	//background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(13, 52, 58, 1)), to(rgba(255, 255, 255, 0.6)));
	background: linear-gradient(to bottom, #596a84, #9fb0c9);
	width: 1px;
	height: 89px;
	position: absolute;
	bottom: 200px;
	-webkit-animation: fall 0.63s linear infinite;
}

@-webkit-keyframes fall {
  to {
    margin-top: 900px;
  }
}

.cloud {
	position: absolute;
	width: 600px;
	z-index: 0;
	opacity: .5;
	animation: slide 50s infinite;
}

@keyframes slide {
	0% {
		transform: translateX(-23vw);
	}

	100% {
		transform: translateX(100vw);
	}
}

main p {
	color: white;
	text-align: center;
	margin: 0;
}

main .cityName {
	font-size: 36px;
}

.backBtn {
	position: absolute;
}

.backBtn img {
	width: 30px;
}

main .temp {
	margin-top: 50px;
	font-size: 42px;
}

main .weatherDesc {
	text-transform: capitalize;
}

main .updatedText {
	color: lightgrey;
	text-align: center;
	display: block;
	overflow: hidden;
	opacity: 0;
	max-height: 0;
	transition: max-height 5s cubic-bezier(0, 1, 0, 1), opacity 2s;
}

.updatedText.full {
	opacity: 1;
	max-height: 1000px;
	transition: max-height 5s ease-in-out, opacity 2s;
}

main .dataSources {
	width: 100%;
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	font-size: 14px;
}

.dataSources a {
	color: white;
	font-weight: bolder;
	text-decoration: none;
}

.dataSources a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 768px) {
	main .dataSources {
		font-size: 8px;
	}
}